
<h1>Which reports would you like to see?</h1>
<br>
	<ul>
		<li><a href="http://localhost:4567/full">Both</a></li>
		<li><a href="http://localhost:4567/report?name=Sonia">Sonia</a></li>
		<li><a href="http://localhost:4567/report?name=Priya">Priya</a></li>
		<li><a href="http://localhost:4567/report?name=Allen">Allen</a></li>
	</ul>

<form get="/report">

	

</form>