
<h1>Which reports would you like to see?</h1>
<br>
<ul>
<li><a href="http://localhost:4567/full">Both</a></li>
<li><a href="http://localhost:4567/sonia">Sonia</a></li>
<li><a href="http://localhost:4567/priya">Priya</a></li>
</ul>
