<!DOCTYPE html>
<html>
<head>
    <title>Movie Drill</title>
    <script type="text/javascript" src="/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<form action="/results">
    <label>Enter part or all of a movie title:</label><br>
    <input type="text" name="query">
    <input type="submit">
</form>

<div class="nav">
	<button class="prev">Previous</button>
	<button class="next">Next</button>
</div>

<div class="movieInfo"></div>
</body>

</html>